venv
__pycache__
dist
.venv
.idea
.ruff_cache
.ipynb_checkpoints
.mypy_cache
.pdm-build
.pytest_cache
.pdm-python
.coverage
.vscode
.env
.history

_old
artifacts
extensions/models/*
extensions/data_loaders/*
extensions/parameters/*
!*.gitkeep
!extensions/*/ex_*.py
